# auth_email= --- The email used to login 'https://dash.cloudflare.com'
# auth_method=token --- Set to "global" for Global API Key or "token" for Scoped API Token 
# auth_key= --- Your API Token or Global API Key
# zone_identifier= --- Can be found in the "Overview" tab of your domain
# record_name= --- Which record you want to be synced
# proxy=false --- Set the proxy to true or false
auth_email="user@test.com"
auth_method="global"
auth_key="key"
zone_identifier=""
record_name="mydomaine"
proxy=false

auth_email="user@test2.com"
auth_method="token"
auth_key="key"
zone_identifier=""
record_name="mysecdomaine"
proxy=false